.heading{
font-size:30px;
}
body {
font-family: Arial, sans-serif;
justify-content: center;
align-items: center;
display: flex;
background-color: lightblue;
}
.button{
border-radius: 5px;
background-color: lightblue;

}
.container {
width: 30%;
margin: 0px;
padding: 30px;
background-color: #fff;
border: 3px solid #ddd;
align-items: right;
}

